/* change active bullet color to red */
.swiper-pagination-bullet-active {
  opacity: 1;
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
  background-color: #4338ca !important;
  color: #4338ca !important;
}
.swiper-button-next {
  opacity: 1;
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
  background-color: #4338ca00 !important;
  color: #4338ca !important;
}
.swiper-button-prev {
  opacity: 1;
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
  background-color: #4338ca00 !important;
  color: #4338ca !important;
}
.grecaptcha-badge {
  visibility: hidden;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #374151;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #494949;
}
::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}
