/* change active bullet color to red */
.swiper-pagination-bullet-active {
  opacity: 1;
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
  background-color: #4338ca !important;
  color: #4338ca !important;
}
.swiper-button-next {
  opacity: 1;
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
  background-color: #4338ca00 !important;
  color: #4338ca !important;
}
.swiper-button-prev {
  opacity: 1;
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
  background-color: #4338ca00 !important;
  color: #4338ca !important;
}
.grecaptcha-badge {
  visibility: hidden;
}
